{% load static %}

<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>r+Prof</title>

    <link rel="icon" href="{% static 'r+prof/img/favicon_io/rProf_favicon.svg' %}" sizes="any" type="image/svg+xml">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="{% static 'adminLTE/plugins/fontawesome-free/css/all.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'adminLTE/css/adminlte.min.css' %}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <!-- r+Prof style -->
    <link rel="stylesheet" href="{% static 'r+prof/css/r+prof.css' %}">

    <!-- ToastsR -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'AdminLTE/plugins/toastr/toastr.css' %}" media="all">
    <script type="text/javascript" src="{% static 'AdminLTE/plugins/toastr/toastr.min.js' %}"></script>
    <style>
        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .responsive {
            width: 100%;
            height: auto;
        }

        {#https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_center-vertical2#}
    </style>

</head>
<body class="hold-transition layout-top-nav layout-footer-fixed">

<!-- Mensagens do Django -->
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% elif message.tags == 'info' %}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% elif message.tags == 'warning' %}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% elif message.tags == 'error' %}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
        <div class="container">
            <a href="{% url 'landing_page:landing_page' %}" class="navbar-brand">
                <img src="{% static 'r+prof/img/rProf_Logo.png' %}" alt="r+Prof Logo"
                     class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">r+Prof</span>
            </a>

{#            <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"#}
{#                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">#}
{#                <span class="navbar-toggler-icon"></span>#}
{#            </button>#}

            <!-- Right navbar links -->
            <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                <li class="nav-item">
                    <a href="{% url 'contas:login' %}" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'contas:register' %}" class="nav-link">Registar</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /.navbar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container">
                <h1 class="m-0 text-dark">  {{ msn }} </h1>
                <div class="justificado">
                    <!-- Inserir Texto aqui! -->
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container">
                <div class="center">
                    <img src="{% static 'r+prof/img/background_2.png' %}" alt="background image" class="responsive">
                </div>
                <div class="justificado">
                    <!-- Inserir Texto aqui! -->
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    {% block footer %}

        {% include 'footer.html' %}

    {% endblock %}
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="{% static 'adminLTE/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'adminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'adminLTE/js/adminlte.min.js' %}"></script>
</body>
</html>
