{% load static %}

<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>r+Prof | Sent Password</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'adminLTE/plugins/fontawesome-free/css/all.min.css' %}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{% static 'adminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'adminLTE/css/adminlte.min.css' %}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <!-- r+Prof style -->
    <link rel="stylesheet" href="{% static 'r+prof/css/r+prof.css' %}">

</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="{% url 'gestao_escolar:homepage_blank' %}"><b>r+Prof</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"> Redefinição de palavra-passe enviada</h3>
        </div>
        <div class="card-body login-card-body">
            <p class="justificado">
                As instruções de configuração da sua palavra-passe foram enviadas para o email indicado.
                <br>
                Se existir a conta de email que indicou, deverá recebê-las brevemente.
                <br>
                Se não receber um email, por favor assegure-se de que introduziu o endereço com o qual se registou
                e verifique a sua pasta de correio electrónico não solicitado.
            </p>
            <p class="mt-3 mb-1">
                <a href="{% url 'contas:login' %}">Login</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="{% static 'adminLTE/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'adminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE-3.0.5 App -->
<script src="{% static 'adminLTE/js/adminlte.min.js' %}"></script>


</body>
</html>