{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1></h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid" style="padding-left: 30%; padding-right: 30%">
            <div class="card-body register-card-body">
                <div class="card-header">
                    <h4 class="login-box-msg">
                        Editar conta do utilizador '<b>{{ user }}</b>'
                    </h4>
                </div>

                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl">
                            <div class="form-group">

                                <form method="post">
                                    {% csrf_token %}
                                    {% for field in form %}

                                        {% if field.name == "first_name" %}
                                            <div class="input-group mb-3">
                                                {% render_field field class="form-control" placeholder=field.label %}
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-signature"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if field.name == "last_name" %}
                                            <div class="input-group mb-3">
                                                {% render_field field class="form-control" placeholder=field.label %}
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-signature"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if field.name == "address" %}
                                            <div class="input-group mb-3">
                                                {% render_field field class="form-control" placeholder=field.label %}
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-address-book"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if field.name == "phone" %}
                                            <div class="input-group mb-3">
                                                {% render_field field class="form-control" placeholder=field.label %}
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-phone"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% for error in field.errors %}
                                            <ul>
                                                <li class="text-danger" style="list-style-type:square;">
                                                    {{ error }}
                                                </li>
                                            </ul>
                                        {% endfor %}

                                    {% endfor %}

                                    <div class="row">
                                        <div class="col-8">
                                            <a href="{% url 'gestao_escolar:homepage_blank' %}"
                                               class="btn btn-outline-secondary">Retroceder
                                            </a>
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-4">
                                            <button type="submit" class="btn btn-primary btn-block">Alterar</button>
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                    <!-- /.row -->
                                </form>
                                <!-- /.form -->
                            </div>
                            <!-- /.form-group -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card card-default-->
            <br><br>
        </div>
        <!-- /.container-fluid -->
    </section>

{% endblock %}