{% load static %}

<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<!-- pt-PT - português de Portugal. -->
<html lang="pt-PT">
<head>
    <!-- character encoding for the HTML document - UTF-8 character set, covers almost all of the characters and symbols -->
    <!-- in the world! -->
    <meta charset="utf-8">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The X-UA-Compatible meta tag allows to choose what version of Internet Explorer the page should be rendered as -->
    <!-- edge mode tells Internet Explorer to display content in the highest mode available -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- title tab -->
    <title>r+Prof</title>
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="{% static 'adminLTE/plugins/fontawesome-free/css/all.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'adminLTE/css/adminlte.min.css' %}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <!-- r+Prof style -->
    <link rel="stylesheet" href="{% static 'r+prof/css/r+prof.css' %}">

    <!-- r+Prof favicon -->
    <link rel="icon" type="image/svg+xml" href="{% static 'r+prof/img/favicon_io/rProf_favicon.svg ' %}">
    <link rel="icon" type="image/png" href="{% static 'r+prof/img/favicon_io/rProf_favicon.png ' %}">

    <!-- ToastsR -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'AdminLTE/plugins/toastr/toastr.css' %}" media="all">
    <script type="text/javascript" src="{% static 'AdminLTE/plugins/toastr/toastr.min.js' %}"></script>

</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed">

<!-- Mensagens do Django -->
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% elif message.tags == 'info' %}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% elif message.tags == 'warning' %}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% elif message.tags == 'error' %}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <span class="oi oi-home"></span>
                <a href="{% url 'gestao_escolar:school_year' %}" class="nav-link"><i class="fas fa-home"></i></a>
            </li>
            </li>
        </ul>
        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <!-- Contact -->
            <li class="nav-item d-none d-sm-inline-block">

                <a href="mailto:apprprof@gmail.com" class="nav-link"> <i class="far fa-envelope"></i>&nbsp
                    apprprof@gmail.com</a>
            </li>
            <!-- Settings dropdown -->
            <li class="nav-item dropdown show ">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                    <i class="fas fa-cog"></i>
                </a>
                <div class="dropdown-menu hide" x-placement="bottom-start"
                     style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-5px, 40px, 0px);">
                    <a class="dropdown-item" tabindex="-1" href="{% url 'contas:user_profile_change' user.slug %}">Editar conta</a>
                    <a class="dropdown-item" tabindex="-1" href="{% url 'contas:user_profile_foto_change' user.slug %}">Alterar foto</a>
                    <a class="dropdown-item" tabindex="-1" href="{% url 'contas:change_password' %}">Alterar Password</a>
                </div>
            </li>

            <!-- End Settings dropdown -->
        </ul>
    </nav>
    <!-- /.navbar -->

    {% block sidebar %}

        {% include 'sidebar.html' %}

    {% endblock %}


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {% block content %}

        {% endblock %}
    </div>
    <!-- /.content-wrapper -->

    {% block footer %}

        {% include 'footer.html' %}

    {% endblock %}
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="{% static 'adminLTE/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'adminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'adminLTE/js/adminlte.min.js' %}"></script>
</body>
</html>
