{% load static %}

{% block footer %}
    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline">
            r+prof
        </div>
        <!-- Default to the left -->
        {% if user.is_authenticated %}
            <strong>Copyright &copy; 2021 <a href="{% url 'gestao_escolar:homepage_blank' %}">r+Prof</a>.</strong> All rights reserved.
        {% else %}
            <strong>Copyright &copy; 2021 <a href="{% url 'landing_page:landing_page' %}">r+Prof</a>.</strong> All rights reserved.
        {% endif %}
    </footer>
{% endblock %}