{% load static %}

{% block sidebar %}

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="{% url 'gestao_escolar:school_year' %}" class="brand-link">
            <img src="{% static 'r+prof/img/rProf_Logo.png' %}" alt="r+Prof Logo"
                 class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">r+Prof</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="{{user.avatar.url}}" class="img-circle elevation-2"
                         alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">{{ user }}</a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->

                    <!-- Separador Escola -->
                    <li class="nav-item has-treeview">
                        <a href="{% url 'gestao_escolar:school_list' %}" class="nav-link">
                            <i class="nav-icon fas fa-school"></i>
                            <p>
                                Escolas
                                {% if quantidade_escolas %}
                                    <span class="badge badge-info right"> {{ quantidade_escolas }} </span>
                                {% endif %}
                            </p>
                        </a>
                    </li>

                    <!-- separador anos letivos  -->
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link active"> <!-- mudar a cor azul?? -->
                            <i class="nav-icon fas fa-suitcase"></i>
                            <p>
                                Anos Letivos
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            {% if anos_letivos_side_bar %}
                                {% for ano_letivo in anos_letivos_side_bar %}
                                    <li class="nav-item">
                                        <a href="{% url 'gestao_escolar:school_class_list' ano_letivo.slug %}" class="nav-link active">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>{{ ano_letivo.name }}</p>
                                        </a>
                                    </li>
                                {% endfor %}
                                <li class="nav-item">
                                    <a href="{% url 'gestao_escolar:school_year_list' %}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Ver todos</p>
                                        <span class="badge badge-info right">{{ anos_letivos_count }}</span>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a href="{% url 'gestao_escolar:school_year_add' %}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Adicionar</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    {% if ano_letivo_corrente %}
                        <li class="nav-header">CONTEÚDO DE {{ ano_letivo_corrente }}</li>

                        <!-- Separador Turmas -->
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-chalkboard-teacher"></i>
                                <p>
                                    Turmas
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'gestao_escolar:school_class_list' ano_letivo_corrente.slug %}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Ver todas</p>
                                        {% if quantidade_turmas %}
                                            <span class="badge badge-info right">{{ quantidade_turmas }}</span>
                                        {% endif %}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'gestao_escolar:school_class_add' ano_letivo_corrente.slug %}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Adicionar</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{% url 'contas:logout' %}" class="nav-link">
                            <i class="nav-icon fas fa-sign-out-alt"></i>
                            <p>
                                Sair
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

{% endblock %}