/*!
 *   r+Prof v1.0
 *   Author: r+Prof
 *   Website:  r+Prof <http://rprof.pt>
 *   License: Open source - MIT <http://opensource.org/licenses/MIT>
 */
/*!
*/

.justificado {
    text-align: justify;
    text-justify: inter-word;
}


.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
}


