{% extends 'base.html' %}
{% block content %}
    <br>
    <section class="content">
        <div class="callout callout-info">
            <h5>É a sua primeira utilização, seja bem vindo {{ user }}!</h5>
            Para começar deve criar um ano letivo.
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <a href="{% url 'gestao_escolar:school_year_add' %}" class="nav-link">
                            <button type="button" class="btn btn-primary btn-info">Adicionar ano letivo</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}