{% extends 'base.html' %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header" style="padding-bottom: 0px;">
        <div class="container-fluid">
            <h4>&nbsp; Ano letivo&nbsp{{ ano_letivo_corrente.name }}</h4>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="col-sm-6">
                {% if not turmas %}
                    <br>
                    <div class="callout callout-info">
                        <h5>Ainda não tem turmas registadas! Adicionar turma
                            <a href="{% url 'gestao_escolar:school_class_add' ano_letivo_corrente.slug %}"
                               class="small-box-footer">

                                <i class="fas fa-plus-circle"></i>
                            </a>
                        </h5>
                    </div>
                {% else %}
                    <div class="row">
                        <h3 class="mb-2 mt-4">&nbsp;Turmas
                            <a href="{% url 'gestao_escolar:school_class_add' ano_letivo_corrente.slug %}"
                               class="small-box-footer">
                                <i class="fas fa-plus-circle"></i>
                            </a></h3>
                        </h3>
                    </div>
                    </div>

                    <div class="row">
                        {% for turma in turmas %}
                            <div class="col-lg-3 col-6">
                                <!-- small card -->
                                <div class="small-box bg-gradient-orange">
                                    <div class="inner" style="color: whitesmoke">
                                        <a href="{% url 'gestao_escolar:school_class_detail' ano_letivo_corrente.slug turma.slug %}"
                                           class="small-box-footer" style="color: whitesmoke">
                                            <h5 class="text-truncate">{{ turma.name }} {% if turma.subject %} -
                                                {{ turma.subject }} {% endif %}
                                            </h5>
                                        </a>
                                        <small>
                                            {% if  turma.escola %}
                                                {{ turma.escola }}
                                            {% endif %}
                                        </small>
                                        <br>
                                        <small>
                                            Diretor de Turma: {{ turma.dt_name }}
                                        </small>
                                        <br>
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-chalkboard-teacher"></i>
                                    </div>
                                    <a href="{{ turma.get_absolute_url }}" class="small-box-footer">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}
