{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <section class="content">
        <div class="register-page">
            <div class="card">
                <div class="card-body register-card-body" style="width: 400px">
                    <h4><p class="login-box text-center">Editar ano letivo</p></h4>
                    <form method="post">
                        {% csrf_token %}
                        {% for error in form.non_field_errors %}
                            <li class="text-danger"
                                style="list-style-type:square;">
                                {{ error }}
                            </li>
                            <br>
                        {% endfor %}
                        {% for field in form %}
                            {% if field.name == "name" %}
                                <div class="input-group mb-3">
                                    {% render_field field class="form-control" placeholder=field.label %}
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-suitcase-rolling"></span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if field.name == "start_date" %}
                                <div class="input-group mb-3">
                                    {% render_field field type="date" class="form-control" style="padding-right: 3px" placeholder=field.label %}
                                    <div class="input-group-append" style="padding-right: 0px">
                                        <div class="input-group-text" style="padding-left: 8px; padding-right: 0px">
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            {% if field.name == "end_date" %}
                                <div class="input-group mb-3">
                                    {% render_field field type="date" class="form-control" style="padding-right: 3px" placeholder=field.label %}
                                    <div class="input-group-append" style="padding-right: 0px">
                                        <div class="input-group-text" style="padding-left: 8px; padding-right: 0px">
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% for error in field.errors %}
                                <ul>
                                    <li class="text-danger" style="list-style-type:square;">
                                        {{ error }}
                                    </li>
                                </ul>
                            {% endfor %}
                        {% endfor %}
                        <div class="row">
                            <div class="col-8">
                                <a href="{% url 'gestao_escolar:school_year_delete' school_year.slug %}"
                                   class="btn btn-danger">Remover</a>
                            </div>
                            <!-- /.col -->
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary btn-block">Gravar</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                </div>
                <!-- /.form-box -->
            </div><!-- /.card -->
        </div>
        <!-- /.register-box -->
    </section>
    <!-- /.content -->
{% endblock %}