{% extends 'base.html' %}
{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4> Ano letivo&nbsp{{ school_year.name }}</h4>
                    <h3>Turma&nbsp{{ school_class.name }}</h3>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="{% url 'gestao_escolar:school_year' %}">
                                Voltar &nbsp
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card collapsed-card">
                        <div class="card-header">
                            <h3 class="card-title">Lista de alunos da turma</h3>

                            {#                            <div class="card-tools">#}
                            {#                                <div class="input-group input-group-sm">#}
                            {#                                    <div class="input-group-append">#}
                            {##}
                            {#                                        <a href="{% url 'student_add_multiple' school_year.slug school_class.slug %}">#}
                            {#                                            <span class="fas fa-user-plus" style="color: blue">&nbsp;</span>#}
                            {#                                        </a>#}
                            {#                                        Adicionar Alunos&nbsp;#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                            </div>#}

                            <div class="card-tools">
                                {% if total_students == 1 %}
                                    <span class="badge badge-info">{{ total_students }} aluno na turma</span>
                                {% else %}
                                    <span class="badge badge-info">{{ total_students }} alunos na turma</span>
                                {% endif %}
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                        class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0" style="height: 300px;">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                <tr>
                                    <th>N.º aluno</th>
                                    <th>Nome</th>
                                    <th>Idade</th>
                                    <th>Sexo</th>
                                    <th>Turno</th>
                                    <th>Obs.</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <!-- /.thead -->
                                <tbody>
                                {% for student in students %}
                                    <tr>
                                        <td>
                                            {{ student.class_number }}
                                        </td>
                                        <td>
                                            <div class="input-group-append">
                                                <a href="{% url 'gestao_escolar:student_detail' school_year.slug school_class.slug student.slug %}">
                                                    {{ student.name }}
                                                </a>

                                            </div>
                                        </td>
                                        <td>
                                            {% if student.get_age %}
                                                {{ student.get_age }}
                                            {% else %}
                                                ---
                                            {% endif %}
                                        </td>
                                        <td>
                                            <span class="tag tag-success">
                                            {% if student.sex %}
                                                {{ student.sex }}
                                            {% else %}
                                                ---
                                            {% endif %}
                                            </span>
                                        </td>
                                        <td>
                                            {% if student.class_shift %}
                                                {{ student.class_shift }}
                                            {% else %}
                                                ---
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if student.observations %}
                                                {{ student.observations }}
                                            {% else %}
                                                ---
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="input-group-append">
                                                <a href="{% url 'gestao_escolar:student_change' school_year.slug school_class.slug student.slug %}">
                                                    <span class="fas fa-edit" style="color: blue"></span>
                                                </a>
                                                &nbsp; &nbsp; &nbsp;
                                                <a href="{% url 'gestao_escolar:student_delete' school_year.slug school_class.slug student.slug %}">
                                                    <span class="far fa-trash-alt" style="color: red"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <!-- /.tbody -->
                            </table>
                            <!-- /.table -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer text-center">
                            <a href="{% url 'gestao_escolar:student_add_multiple' school_year.slug school_class.slug %}">
                                <span class="fas fa-user-plus" style="color: blue">&nbsp;</span>
                            </a>
                            Adicionar Alunos
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                    <div class="card collapsed-card">
                        <div class="card-header">
                            <h3 class="card-title">Fotos</h3>
                            <div class="card-tools">
                                {% if total_students == 1 %}
                                    <span class="badge badge-info">{{ total_students }} aluno na turma</span>
                                {% else %}
                                    <span class="badge badge-info">{{ total_students }} alunos na turma</span>
                                {% endif %}
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                        class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <ul class="users-list clearfix ">
                                {% for student in students %}
                                    <li>
                                        <a class="users-list-name"
                                           href="{% url 'gestao_escolar:student_detail' school_year.slug school_class.slug student.slug %}">
                                            <img src="{{ student.foto.url }}" style="width: 125px; height: 125px"
                                                 alt="Student foto"> <br>
                                            {{ student.class_number }} - {{ student.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <!-- /.users-list -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer text-center">
                            <a href="{% url 'gestao_escolar:school_year' %}">Voltar</a>
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}