{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <section class="content">
        <div class="register-page">
            <div class="card">
                <div class="card-body register-card-body" style="width: 400px">
                    <h4><p class="login-box-msg">Editar escola</p></h4>
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.name == "name" %}
                                <div class="input-group mb-3">
                                    {% render_field field class="form-control" placeholder=field.label %}
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-school"></span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if field.name == "code" %}
                                <div class="input-group mb-3">
                                    {% render_field field class="form-control" placeholder=field.label %}
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"></span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if field.name == "address" %}
                                <div class="input-group mb-3">
                                    {% render_field field class="form-control" placeholder=field.label %}
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-envelope-open-text"></span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if field.name == "phone" %}
                                <div class="input-group mb-3">
                                    {% render_field field class="form-control" placeholder=field.label %}
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-phone"></span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if field.name == "admin_email" %}
                                <div class="input-group mb-3">
                                    {% render_field field class="form-control" placeholder=field.label %}
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-envelope"></span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if field.name == "services_email" %}
                                <div class="input-group mb-3">
                                    {% render_field field class="form-control" placeholder=field.label %}
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-envelope"></span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% for error in field.errors %}
                                <ul>
                                    <li class="text-danger" style="list-style-type:square;">
                                        {{ error }}
                                    </li>
                                </ul>
                            {% endfor %}
                        {% endfor %}
                        <div class="row">
                            <div class="col-8">
                                <a href="{% url 'gestao_escolar:school_delete' school.slug %}" class="btn btn-danger">Remover</a>
                            </div>
                            <!-- /.col -->
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary btn-block">Gravar</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                </div>
                <!-- /.form-box -->
            </div><!-- /.card -->
        </div>
        <!-- /.register-box -->
    </section>
    <!-- /.content -->
{% endblock %}