{% extends 'base.html' %}
{% block content %}

    <section class="content">
        <div class="container-fluid">
            <!-- Small Box (Stat card) -->
            {% if not school_list %}
                <br>
                <div class="callout callout-info">
                    <h5>Ainda não tem escolas registadas! Adicionar escola
                        <a href="{% url 'gestao_escolar:school_add' %}" class="small-box-footer">
                            <i class="fas fa-plus-circle"></i>
                        </a>
                    </h5>
                </div>
            {% else %}
                <div class="row">
                    <h3 class="mb-2 mt-4">&nbsp Escolas
                        <a href="{% url 'gestao_escolar:school_add' %}" class="small-box-footer">
                            <i class="fas fa-plus-circle"></i>
                        </a></h3>
                </div>
                <div class="row">
                    {% for school in school_list %}
                        <div class="col-lg-3 col-6">
                            <!-- small card -->
                            <div class="small-box bg-success">
                                <div class="inner">
                                    <h5 class="text-truncate">{{ school.name }}</h5>
                                    <h6 class="text-truncate text-sm">
                                        <small>
                                            Morada: {{ school.address }}
                                            <br>
                                            Telefone: {% if school.phone %} {{ school.phone }} {% else %} {% endif %}
                                            <br>
                                            Email: {{ school.services_email }}
                                        </small>
                                    </h6>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-school"></i>
                                </div>
                                <a href="{{ school.get_absolute_url }}" class="small-box-footer">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}
