{% extends 'base.html' %}
{% block content %}
    <section class="content">
        <div class="container-fluid">
            <!-- Small Box (Stat card) -->
            {% if not school_year_list %}
                <br>
                <div class="callout callout-info">
                    <h5>Ainda não tem anos letivos inseridos! Adicionar ano letivo
                        <a href="{% url 'gestao_escolar:school_year_add' %}" class="small-box-footer">
                            <i class="fas fa-plus-circle"></i>
                        </a>
                    </h5>
                </div>
            {% else %}
                <div class="row">
                    <h3 class="mb-2 mt-4">&nbsp Anos letivos
                        <a href="{% url 'gestao_escolar:school_year_add' %}" class="small-box-footer">
                            <i class="fas fa-plus-circle"></i>
                        </a></h3>
                </div>
                <div class="row">
                    {% for school_year in school_year_list %}
                        <div class="col-lg-3 col-6">
                            <!-- small card -->
                            <div class="small-box bg-info">
                                <div class="inner">
                                    <a href="{% url 'gestao_escolar:school_class_list' school_year.slug %}"
                                       style="color: whitesmoke">
                                        <h5>{{ school_year.name }}</h5>
                                    </a>
                                    <br>
                                    <br>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-suitcase-rolling"></i>
                                </div>
                                <a href="{{ school_year.get_absolute_url }}" class="small-box-footer">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}
