{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <section class="content">
        <div class="register-page" style="height: 617px">
            <div class="card">
                <div class="card-body register-card-body" style="width: 400px">
                    <h4><p class="login-box text-center">Editar turma</p></h4>
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}

                            {% if field.name == "escola" %}
                                <div class="input-group mb-3">
                                    {% render_field field class="form-control" placeholder=field.label %}
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-school"></span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            {% if field.name == "name" %}
                                <div class="input-group mb-3">
                                    {% render_field field class="form-control" placeholder=field.label %}
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-chalkboard-teacher"></span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            {% if field.name == "grade" %}
                                <div class="input-group mb-3">
                                    {% render_field field class="form-control" placeholder=field.label %}
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-graduation-cap"></span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            {% if field.name == "subject" %}
                                <div class="input-group mb-3">
                                    {% render_field field class="form-control" placeholder=field.label %}
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-book-open"></span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            {% if field.name == "class_type" %}
                                <div class="input-group mb-3">
                                    {% render_field field class="form-control" placeholder=field.label %}
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-bookmark"></span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            {% if field.name == "dt_name" %}
                                <div class="input-group mb-3">
                                    {% render_field field class="form-control" placeholder=field.label %}
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-signature"></span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            {% if field.name == "dt_phone" %}
                                <div class="input-group mb-3">
                                    {% render_field field class="form-control" placeholder=field.label %}
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-phone"></span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            {% if field.name == "dt_email" %}
                                <div class="input-group mb-3">
                                    {% render_field field class="form-control" placeholder=field.label %}
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-envelope"></span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            {% for error in field.errors %}
                                <ul>
                                    <li class="text-danger" style="list-style-type:square;">
                                        {{ error }}
                                    </li>
                                </ul>
                            {% endfor %}

                        {% endfor %}

                        <div class="row">
                            <div class="col-8">
                                <a href="{% url 'gestao_escolar:school_class_delete' school_year.slug school_class.slug %}"
                                   class="btn btn-danger">Remover</a>
                            </div>
                            <!-- /.col -->
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary btn-block">Gravar</button>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </form>
                    <!-- /.form -->
                </div>
                <!-- /.form-box -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.register-box -->
    </section>
    <!-- /.content -->
{% endblock %}