{% extends 'base.html' %}
{% block content %}
    <br>
    <section class="content">
        <div class="callout callout-info">
            <h4>Tem a certeza?</h4>
            <br>
            <div>Tem a certeza que deseja remover o aluno n.º '<b>{{ student.class_number }}</b>' -
                '<b>{{ student.name }}</b>'? Todos os items relacionados
                com este aluno serão removidos.
            </div>
            <br>
            <form method="post">
                <div class="row">
                    <div class="col-2">
                    </div>
                    {% csrf_token %}
                    <!-- /.col -->
                    <div class="col-2">
                        <button type="submit" class="btn btn-primary btn-danger">Sim, tenho a certeza</button>
                    </div>
                    <!-- /.col -->
                    <div class="col-2">
                        <a href="{% url 'gestao_escolar:school_class_detail' school_year.slug school_class.slug %}"
                           style="text-decoration: none;color:white;"
                           class="btn btn-primary btn-block">
                            Não, retrocede
                        </a>
                    </div>
                    <!-- /.col -->
                    <div class="col-2">
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}