{% extends 'base.html' %}
{% block content %}
    {% load static %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h3>Ficha do aluno</h3>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="{% url 'gestao_escolar:school_class_detail' school_year.slug school_class.slug %}">
                                Voltar
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                     src="{{ student.foto.url }}"
                                     alt="User profile picture">
                            </div>

                            <h3 class="profile-username text-center">{{ student.name }}</h3>

                            <p class="text-muted text-center">
                                <a href="{% url 'gestao_escolar:student_foto_change' school_year.slug school_class.slug student.slug %}">
                                    Alterar foto
                                </a>
                            </p>
                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>Turma</b> <a class="float-right">{{ school_class.name }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Ano</b> <a class="float-right">{{ school_class.grade }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Disciplina</b> <a class="float-right">{{ school_class.subject }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>N.º</b> <a class="float-right">{{ student.class_number }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Turno</b> <a class="float-right">{{ student.class_shift }}</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card card-primary card-outline">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#informacoes" data-toggle="tab">Informações</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="#avaliacoes" data-toggle="tab">A
                                    definir</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="#estatistica" data-toggle="tab">A
                                    definir</a>
                                </li>
                            </ul>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="informacoes">

                                    <!-- /.card-informacoes -->
                                    <div class="card-body ">
                                        <strong><i class="fas fa-birthday-cake mr-1"></i>Idade</strong>

                                        <span class="text-muted">
                                            {% if student.get_age %}
                                                - &nbsp; {{ student.get_age }}
                                            {% else %}
                                            {% endif %}
                                        </span>

                                        <hr>

                                        <strong><i class="fas fa-at mr-1"></i>Email</strong>

                                        <span class="text-muted">
                                            {% if student.email %}
                                                - &nbsp; {{ student.email }}
                                            {% else %}
                                            {% endif %}
                                        </span>

                                        <hr>

                                        <strong><i class="fas fa-mobile-alt mr-1"></i>Contacto</strong>

                                        <span class="text-muted">
                                            {% if student.email %}
                                                - &nbsp;{{ student.email }}
                                            {% else %}
                                            {% endif %}
                                        </span>

                                        <hr>

                                        <strong><i class="fas fa-map-marker-alt mr-1"></i>Morada</strong>

                                        <p class="text-muted">
                                            {% if student.address %}
                                                {{ student.address }}
                                            {% else %}
                                            {% endif %}
                                        </p>

                                        <hr>

                                        <strong><i class="fas fa-signature mr-1"></i>Encarregado de educação</strong>

                                        <span class="text-muted">
                                            {% if student.tutor_name %}
                                                - &nbsp; {{ student.tutor_name }}
                                            {% else %}
                                            {% endif %}
                                        </span>

                                        <hr>

                                        <strong><i class="fas fa-at mr-1"></i>Email E.E.</strong>

                                        <span class="text-muted">
                                            {% if student.tutor_email %}
                                                - &nbsp; {{ student.tutor_email }}
                                            {% else %}
                                            {% endif %}
                                        </span>

                                        <hr>

                                        <strong><i class="fas fa-mobile-alt mr-1"></i>Contacto do EE</strong>

                                        <span class="text-muted">
                                            {% if student.tutor_phone %}
                                                - &nbsp; {{ student.tutor_phone }}
                                            {% else %}
                                            {% endif %}
                                        </span>

                                        <hr>

                                        <strong><i class="far fa-file-alt mr-1"></i>Observações</strong>

                                        <p class="text-muted">
                                            {% if student.observations %}
                                                {{ student.observations }}
                                            {% else %}
                                            {% endif %}
                                        </p>

                                    </div>
                                    <!-- /.card-informacoes -->
                                </div>
                                <!-- /.tab-pane -->

                                <div class="tab-pane" id="avaliacoes">


                                    {#                                   POR AQUI #}


                                </div>
                                <!-- /.tab-pane -->

                                <div class="tab-pane" id="estatistica">


                                    {#                                   POR AQUI #}


                                </div>
                                <!-- /.tab-pane -->

                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

{% endblock %}