{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
{#                    <h1>Editar aluno</h1>#}
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
{#                        <li class="breadcrumb-item"><a href="#">Home</a></li>#}
{#                        <li class="breadcrumb-item active">Editar aluno</li>#}
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid" style="padding-left: 30%; padding-right: 30%">
            <div class="card-body register-card-body">
                <div class="card-header">
                    <h4 class="login-box-msg">Editar aluno</h4>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl">
                            <div class="form-group">
                                <form method="post">
                                    {% csrf_token %}
                                    {% for field in form %}

                                        {% if field.name == "class_number" %}
                                            <div class="input-group mb-3">
                                                {% render_field field class="form-control" placeholder=field.label %}
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-sort-numeric-up"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if field.name == "name" %}
                                            <div class="input-group mb-3">
                                                {% render_field field class="form-control" placeholder=field.label %}
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-signature"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if field.name == "birth_date" %}
                                            <div class="input-group mb-3">
                                                {% render_field field class="form-control" placeholder=field.label %}
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-calendar-alt"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if field.name == "sex" %}
                                            <div class="input-group mb-3">
                                                {% render_field field class="form-control" placeholder=field.label %}
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-genderless"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if field.name == "class_shift" %}
                                            <div class="input-group mb-3">
                                                {% render_field field class="form-control" placeholder=field.label %}
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-user-friends"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if field.name == "email" %}
                                            <div class="input-group mb-3">
                                                {% render_field field class="form-control" placeholder=field.label %}
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-envelope"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if field.name == "phone" %}
                                            <div class="input-group mb-3">
                                                {% render_field field class="form-control" placeholder=field.label %}
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-phone"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if field.name == "address" %}
                                            <div class="input-group mb-3">
                                                {% render_field field class="form-control" placeholder=field.label %}
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-address-card"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if field.name == "tutor_name" %}
                                            <div class="input-group mb-3">
                                                {% render_field field class="form-control" placeholder=field.label %}
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-signature"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if field.name == "tutor_email" %}
                                            <div class="input-group mb-3">
                                                {% render_field field class="form-control" placeholder=field.label %}
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-envelope"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if field.name == "tutor_phone" %}
                                            <div class="input-group mb-3">
                                                {% render_field field class="form-control" placeholder=field.label %}
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-phone"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if field.name == "observations" %}
                                            <div class="input-group mb-3">
                                                {% render_field field class="form-control" placeholder=field.label %}
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-sticky-note"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% for error in field.errors %}
                                            <ul>
                                                <li class="text-danger" style="list-style-type:square;">
                                                    {{ error }}
                                                </li>
                                            </ul>
                                        {% endfor %}

                                    {% endfor %}

                                    <div class="row">
                                        <div class="col-8">
                                            <a href="{% url 'gestao_escolar:student_delete' school_year.slug school_class.slug student.slug %}"
                                               class="btn btn-danger">Remover
                                            </a>
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-4">
                                            <button type="submit" class="btn btn-primary btn-block">Gravar</button>
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                    <!-- /.row -->
                                </form>
                                <!-- /.form -->
                            </div>
                            <!-- /.form-group -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card card-default-->
            <br><br>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}