{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1></h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid" style="padding-left: 30%; padding-right: 30%">
            <div class="card-body register-card-body">
                <div class="card-header">
                    <h4 class="login-box-msg">
                        Alterar foto de '<b>{{ student.name }}</b>'
                    </h4>
                </div>

                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl">
                            <div class="form-group">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}

                                    {{ form.as_p }}

                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <ul>
                                                <li class="text-danger" style="list-style-type:square;">
                                                    {{ error }}
                                                </li>
                                            </ul>
                                        {% endfor %}

                                    {% endfor %}

                                    <div class="row">
                                        <div class="col-8">
                                            <a href="{% url 'gestao_escolar:student_detail' school_year.slug school_class.slug student.slug %}"
                                               class="btn btn-outline-secondary">Retroceder
                                            </a>
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-4">
                                            <button type="submit" class="btn btn-primary btn-block">Alterar</button>
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                    <!-- /.row -->
                                </form>
                                <!-- /.form -->
                            </div>
                            <!-- /.form-group -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card card-default-->
            <br><br>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}