{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    {% load staticfiles %}
    <section class="content">
        <div class="register-page">
            <div class="card">
                <div class="card-body register-card-body" style="width: 400px">
                    <h4><p class="login-box-msg">Adicionar alunos à turma</p></h4>

                    <form method="post">
                        {% csrf_token %}
                        {{ formset.management_form }}
                        {% for form in formset %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {% for field in form %}

                                {% if field.name == "name" %}
                                    <div class="input-group mb-3">
                                        {% render_field field class="form-control" placeholder=field.label %}
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-user-alt"></span>
                                            </div>
                                        </div>
                                    </div>

                                {% endif %}

                                {% for error in field.errors %}
                                    <ul>
                                        <li class="text-danger" style="list-style-type:square;">
                                            {{ error }}
                                        </li>
                                    </ul>
                                {% endfor %}

                            {% endfor %}
                        {% endfor %}

                        <div class="centrado">
                            <div class="col-xl-auto">
                                <button type="submit" class="btn btn-primary btn-block">Submeter</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                </div>
                <!-- /.form-box -->
            </div><!-- /.card -->
        </div>
        <!-- /.register-box -->
    </section>
    <!-- /.content -->

    <!-- Include formset plugin - including jQuery dependency -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'r+prof/js/jquery.formset.js' %}"></script>
    <script>
        $('.input-group').formset({
            addText: '<i class="fas fa-user-plus"></i>',
            deleteText: '<i class="fas fa-trash-alt"></i>'
        });
    </script>

{% endblock %}